@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb; /* Default light mode */
  --foreground: #1a1a1a; /* Default text for light mode */
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}

html.dark {
  --background: #000000; /* Dark background */
  --foreground: #f9fafb; /* Light text on dark mode */
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes cityPulse {
  0% { opacity: 0.8; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.05); }
  100% { opacity: 0.8; transform: scale(1); }
}

.cityscape {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50vh;
  background-size: cover;
  animation: cityPulse 5s infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
  opacity: 0; /* Ensures elements are invisible before animation starts */
}

